#logo {
	width : 200px;
}

header {
	background-color : lightgrey;
	display : flex;
}

nav {
	text-align : center;
	margin-left : 30px;
	margin-top : 15px;
}

nav a {
	margin-left : 20px;
	margin-right : 20px;
	text-decoration : none;
	color : black;
}

h1 {
	text-decoration : underline;
	text-align : center;
}

footer {
	text-align : center;
}
