body {
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: white;
	padding: 35px 5%;
}
 
nav {
	display: flex;
	align-items: center;        
	justify-content: center;    
	position: relative;         
}

nav a.active {
    font-weight: bold;
    border-bottom: 2px solid black;
}

.logo {
	height: 60px;
	width: auto;
	position: relative;
	align-items: center;        
}

.nav-links {
	display: flex;
	gap: 30px;                  
}

.nav-links a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

.nav-links a:hover {
	color: #ff6600;
}
