* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url("../catalogue /jusdegingembre1.jpg");
    background-size: cover;
    margin: 0;
}

/* --- Header --- */
header {
    position: relative;      /* Permet au nav d'être centré indépendamment */
    display: flex;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    font-size: 1.1em;
}

/* Logo collé à gauche */
.logo img {
    height: 60px;
    width: 249px;
    display: block;
}

/* Nav centré par rapport à son propre centre */
nav {
    position: sticky;
    left: 50%;
    transform: translateX(-50%); /* Centre parfait */
    display: flex;
}

/* Liens */
nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    padding: 5px 0;
    transition: color 0.3s;
}

nav a.active {
    font-weight: bold;
    border-bottom: 2px solid black;
}
main {
    text-align: center;
    padding: 40px 20px;
    font-family: "Noto Sans Tifinagh Rhissa Ixa";
    font-size: 40px;

}
main img{
    height: 180px;
    width: 747px;
}

div.untruc {
    background-color: #F2F2F2;
    border-radius: 20px;
}
div.catalogue{
    width: 100%;
    overflow: hidden;
}
div.slider img{
    width: 200px;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
}
div.slider{
    display: flex;
    width: calc(200px * 10); /* largeur = taille image × (nb images × 2) */
    animation: scroll 20s linear infinite;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.bouton-catalogue {
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1em;
    letter-spacing: 0.5px;
    transition: background-color 0.3s;
    border-radius:6px;
    box-shadow: 0 4px 15px orange;

}