body {
	
	background-image: url("./image001.jpg") ;
	background-size: cover;

	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: white;
	padding: 35px 5%;
}

nav {
	display: flex;
	align-items: center;        
	justify-content: center;    
	position: relative;         
}

.logo {
	height: 60px;
	width: auto;
	position: relative;
	align-items: center;

	             
}

.nav-links {
	display: flex;
	gap: 30px;                  
}

.nav-links a {
	color: black;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
}

.nav-links a:hover {
	color: #ff6600;
}
