 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
}

header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    font-size: 1.1em;
}

header img{
    height: 60px;
    width: 249px;
    display: block;
}

.logo {
    flex-direction: column;
    line-height: 1;
}

nav {
    position: sticky;
    left: 50%;
    transform: translateX(-50%); /* Centre parfait */
    display: flex;
}


nav a {
    text-decoration: none;
    color: black;
    margin: 0 15px;
    padding: 5px 0;
    transition: color 0.3s;
}

nav a.active {
    font-weight: bold;
    border-bottom: 2px solid black;
}

main {
    padding: 40px 20px;
    font-family: "Noto Sans Tifinagh Rhissa Ixa";
}

main h2 {
    text-align: center;
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 40px;
    color: black;
}


#koumba{
	margin-top: 30px;
	width: 200px;

}

 .h3 {
     text-align: center;
     font-size: 2em;
     font-weight: normal;
     margin-top: 70px;
     margin-bottom: 60px;
     color: black;
 }

.contenu {
	margin-top: 100px;
	text-align: center;
}

.contenu img{
	width: 500px; 
	align-items: center;
}

 .texte {
     font-size: 18px;
 }

 .gauche{
     text-align: left;
     margin-right: auto;
	margin-left: auto;
     padding-top: 10px;
	width: 600px;
	padding-left: 30px;
 }

.ligne {
    margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
    text-align: center;
	width: 600px;
}

.bouton-catalogue {
    text-align: left;
    width: 500px;
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 15px 50px;
    font-size: 1em;
    letter-spacing: 0.5px;
    transition: background-color 0.3s;
    border-radius:6px;
    box-shadow: 0 4px 15px green;

}

.pourquoi {
	display: flex;
	margin-bottom: 120px;
}

.droite {
	margin-right:auto;
	margin-left:100px;
}

.gauche2 {
	margin-right:100px;
	margin-left:auto;
}
